{% extends "announcement/base.html" %}
{% block title %} announcements {% endblock title %}

{% block content %}
    <ul class="create-announcement ">
        <li><a href="{%url 'announcement_create'%}">Create Announcement &#128226; </a></li>
    </ul>
    {% for announcement in announcements%}
        <div>
            <h3> {{announcement.title}} </h3>
            <p> {{announcement.content}} </p>
            <small>{{ announcement.created_at|date:"M d, Y H:i" }} by {{ announcement.author.username }}</small>
        </div>
        <hr>
    {% empty %}
            <h2>no Announcement yet</h2>
    {% endfor %}

{% endblock %}